footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.welcome{
    text-align: center;
}

/*.container .login_container */ /* Class du container sur page login */
.col s6{
    text-align: center;
}

.container{
    
}

/*.nav-wrapper{
    background-color: #4a148c !important;
} */